.char-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.start {
    width: 400px;
    margin: 120px auto;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    border: 5px solid red;
    text-align: center;
}


.start h2 {
    text-align: center;
}

.start-button{
    display: flex;
    justify-content: center;
    padding: 50px
}

.start button {
    font-size: larger;
    padding: 20px;
    border-radius: 15px;
    border: 5px solid white;
}

.start button:hover {
    border: 5px solid red;
    color: red;
}

.char-grid {
    display: flex;
    flex-direction: column;
}

.char-grid img {
    width: 80px;
}

.name {
    margin-top: 45px;
}
.name input {
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
    outline: none;
    border: 2px solid grey;
}